{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - Beclometasone inhaler
{% endblock %}

{% block beforeContent %}
    {{ breadcrumb({
      items: [
      ],
      href: "/level-one/level-two/level-three",
      text: "Medicines A - Z"
    }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1>Beclometasone inhaler
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          including Clenil, Fostair and Qvar
        </span></h1>

    </div>  

  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
<aside role="complementary" class="medicines-page-contents">
          <p><strong>On this page</strong></p>
          <ol class="nhsuk-body-s">
            
              <li>About beclometasone inhalers</li>
            
              <li>Key facts</li>
            
              <li>Who can and can't take beclometasone</li>
            
              <li>How and when to use it</li>
            
              <li>How to use your inhaler</li>
            
              <li>Side effects</li>
            
              <li>How to cope with side effects</li>

              <li>Pregnancy and breastfeeding</li>
              <li>Cautions with other medicines</li>
              <li>Common questions</li>

            
          </ol>
        </aside>




<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="about-paracetamol-for-children">
              1. About beclometasone inhalers
            </h2>
            <div class="block-section_text">
              <div class="block-markdown">

                <p>Beclometasone is a type of medicine known as a <a href="">corticosteroid</a> (or steroid). Corticosteroids are not the same as <a href="">anabolic steroids</a>.</p>

                <p>It comes as an inhaler (puffer) to treat <a href="">asthma</a> and <a href="">chronic obstructive pulmonary disease (COPD)</a>.</p>

<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>How to say beclometasone: <strong>beh</strong>-cloh-<strong>met</strong>-a-sone</p>
</div>


                <p>Beclometasone is also used to treat other conditions. It is available as:</p>

                <ul>
                  <li>a nasal spray for hay fever and <a href="">rhinitis</a></li>
                  <li>a cream or ointment for eczema and psoriasis</li>
                  <li>slow-release tablets for <a href="">ulcerative colitis</a></li>
                </ul>

                <p>Beclometasone inhalers are available on prescription.</p>

                <p>There are different aerosol and dry powder inhalers containing beclometasone. Some inhalers contain a combination of beclometasone and other medicines that help your breathing.</p>


                </div>
            </div>
          </section>



      
<!-- 2 -->
<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="key-facts">
              2. Key facts
            </h2>
            <div class="block-section_text">
              <div class="block-markdown">

                <ul>
                  <li>Beclometasone inhalers are usually called "preventer" inhalers because they stop symptoms developing. You'll usually be given another <a href="">inhaler to "relieve" your symptoms</a> when they occur.</li>
                  <li>You need to use your beclometasone inhaler every day for it to work, even if you don't have any symptoms.</li>
                  <li>After using your inhaler, rinse your mouth or brush your teeth to prevent it from making your mouth sore.</li>
                  <li>Beclometasone can affect your child's growth if they use the inhaler for a long time.</li>
                  <li>Common brand names include Clenil, Fostair and Qvar. It's best to stick to the same brand.</li>
                </ul>





</div>
            </div>
          </section>

<!-- 3 -->
      <section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="who-can-and-cant-take-paracetamol">
              3. Who can and can't take beclometasone
            </h2>
            <div class="block-section_text">
              <div class="block-markdown">

                <p>Children aged 5 years and older can take beclometasone to treat asthma.</p>

                <p>Adults can take beclometasone for asthma or COPD.</p>

                <p>Beclometasone isn’t suitable for some people. To make sure it's safe for you, tell your doctor if you:</p>

                <ul>
                  <li>have had an allergic reaction to beclometasone or any other medicines in the past</li>
                  <li>are pregnant, or planning to become pregnant</li>
                  <li>cannot have alcohol for any reason</li>
                  <li>have ever had TB (<a href="">tuberculosis</a>)</li>
                </ul>  






</div>

            </div>
          </section>




<!-- 4-->






       <section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="dosage-and-how-often-to-give-it">
              4. How and when to use it
            </h2>
            <div class="block-section_text">
              <div class="block-markdown">
                <p>It's important to use your beclometasone inhaler regularly to manage your symptoms.</p>

                <p>The usual dose is 1 or 2 puffs, taken twice a day.</p>

                <p>Always follow any instructions from your doctor or asthma nurse. They may tell you to use your inhaler more often, up to 4 times a day, or to have more than 2 puffs at a time.</p>

                <p>This depends on how bad your breathing is and which inhaler you're using.</p>

                <p>If you have asthma and use a Fostair beclometasone inhaler, you might use your inhaler more often. This is because it's used as a preventer as well as to relieve any symptoms when you get them.</p>




                <h3>Will my dose go up or down?</h3>
                <p>Your dose may go up or down depending on how bad your breathing is. Your doctor will prescribe the lowest dose that controls your symptoms.</p>

                <p>If you have asthma, follow the action plan that your doctor or nurse gives you.</p>



                <h3>What if I forget to use it?</h3>
                <p>Use your inhaler as soon as you remember. If it’s almost time for your next dose, skip the missed dose and take your next dose as usual.</p>

                <p>Do not take a double dose to make up for a forgotten dose.</p>

                <p>If you forget doses often, it may help to set an alarm to remind you. You could also ask your pharmacist for advice on other ways to help you remember to take your medicine.</p>


                <h3>What if I take too much?</h3>

                <p>Taking too much beclometasone by accident is unlikely to harm you.</p>

                <p>If you’re worried, talk to your doctor or a pharmacist.</p>




     <!--5 -->     

<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="how-to-give-paracetamol-to-your-child">
              5. How to use your inhaler
            </h2>

            <p>There are different types of beclometasone inhaler. It's very important to use your inhaler properly. This is so you get the right amount of beclometasone into your lungs and the most benefit from your medicine.</p>

            <p>Before using your inhaler, read the manufacturer's printed information leaflet from inside the pack. This leaflet contains information and diagrams to show you how to use the inhaler, how to keep it clean, and how long to use it before getting a replacement.</p>

            <p>After using your inhaler, always put the lid back on.</p>


<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">Important</h3>
  <p>To get the most from your inhaler, it's important to have your technique checked regularly.</p>
</div>


            <p>If you're not sure how to use your inhaler, or your technique hasn't been checked for a year, ask your doctor, asthma nurse or a pharmacist to watch you use it.</p>


            <h3>Using your inhaler with a spacer</h3>

            <p>If you or your child find it difficult to use an inhaler, your doctor may give you a spacer to use with it.</p>

            <p>A spacer is a large metal or plastic container with a mouthpiece and a hole for the inhaler. When used with the inhaler it makes it easier to get the right amount of beclometasone into your lungs.</p>

            <p>Spacers are particularly useful for giving beclometasone to young children.</p>

            <p>Your doctor, pharmacist or asthma nurse can show you how to use a spacer with your inhaler.</p>

<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <h3>Recommended viewing</h3>
  <p>These short videos from Asthma UK show you <a href="https://www.asthma.org.uk/inhalervideos">how to use your inhaler</a> to help you manage your symptoms.</p>
</div>





          </section>



<!-- 6 -->

<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="giving-paracetamol-to-babies-from-2-months">
              6. Side effects
            </h2>

            <p>Like all medicines, beclometasone can cause side effects although not everyone gets them.</p>

            <h3>Common side effects</h3>

            <p>These common side effects may happen in more than 1 in 100 people.</p>

            <p>Keep taking the medicine but talk to your doctor if these side effects bother you or don't go away:</p>

            <ul>
            <li>redness or white patches inside your mouth - these are signs of a mouth infection (<a href="">oral thrush</a>)</li>
            <li>dry or sore throat, or hoarse voice</li>
            </ul>


            <h3>Serious side effects</h3>

            <p>It's unusual to have any serious side effects when taking beclometasone.</p>

            <p>This is more likely to happen if you're on a higher dose of beclometasone for a long time (more than a few months).</p>

            <p>Tell a doctor straight away if you get:</p>

            <ul>

              <li>fever, chills, a very sore throat, ear or sinus pain, a cough, coughing up more mucus (phlegm) or a change in colour of your mucus, pain with passing urine, mouth sores or a wound that will not heal - these can be signs of an infection</li>

              <li>weight gain in the upper back or belly, "moon face" (a puffy, rounded face), very bad headaches and slow wound healing - these can be signs of Cushing's syndrome</li>

              <li>a very upset stomach or you're being sick (vomiting), very bad dizziness or passing out, muscle weakness, very tired, mood changes, loss of appetite and weight loss - these can be signs of adrenal gland problems</li>

              <li>changes in your eye sight, such as blurred vision or a cloudy lens in the eye - these can be signs of increased pressure in your eyes (<a href="">glaucoma</a>) or a cataract</li>
            </ul>  

          <h4>Serious allergic reaction</h4>

          <p>It is possible to have a serious allergic reaction (<a href="">anaphylaxis</a>) to beclometasone.</p>


<div class="nhsuk-care-card nhsuk-care-card--immediate">
  <div class="nhsuk-care-card__heading-container">
    <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 or go to A&E if:</span></h3>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">

    <ul>
      <li>you get a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
      <li>you're wheezing</li>
      <li>you get tightness in the chest or throat</li>
      <li>you have trouble breathing or talking</li>
      <li>your mouth, face, lips, tongue or throat start swelling</li>
    </ul>
    <p>You could be having a serious allergic reaction and may need immediate treatment in hospital.</p>

  </div>
</div>


              <p>These are not all the side effects of beclometasone. For a full list see the leaflet inside your medicines packet.</p>


<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>You can report any suspected side effect to the <a href="">UK safety scheme</a>.</p>
</div>


            <h3>Stunted growth in children</h3>
            
            <p>Taking beclometasone at a high dose for a long time can slow down the normal growth of children and teenagers.</p>

            <p>Your child’s doctor will monitor their height and weight carefully for as long as they're taking this medicine. This way, any slowing down of their growth can be spotted quickly and their treatment changed if needed.</p>

            <p>Talk to your doctor if you're worried. They will be able to explain the benefits and risks of giving your child beclometasone.</p>





          </section>


<!-- 7 -->

<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="giving-paracetamol-with-other-painkillers">
              7. How to cope with side effects
            </h2>


            <h4>What to do about:</h4>

            <ul>
              <li><strong>mouth infection</strong> (<a href="">oral thrush</a>) - ask a pharmacist to recommend a suitable treatment such as a mouth gel and get them to check that you're using your inhaler correctly. They may recommend that see your doctor to discuss the best treatment.</li>
              <li><strong>dry or sore throat, or hoarse voice</strong> - try rinsing your mouth with water or brushing your teeth after using your inhaler to stop this happening</li>
            </ul>

          </section>


<!-- 8 -->

<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="side-effects-in-children">
              8. Pregnancy and breastfeeding
            </h2>


                <p>It's important to manage your asthma or COPD while you're pregnant. Having uncontrolled breathing can be dangerous for you and your unborn baby.</p>

                <p>There's no firm evidence that beclometasone will harm your unborn baby. For safety your doctor will only prescribe beclometasone in pregnancy if the benefits outweigh the risks. They will prescribe the lowest dose that works for you.</p>

                <p>If you become pregnant while taking beclometasone, do not stop using your medicine without talking to your doctor first.</p>

                <p>For more information about how using a beclometasone inhaler might affect you and your baby during pregnancy, <a href="">read this leaflet on the Best Use of Medicines in Pregnancy (BUMPS) website</a>.</p>


                <h3>Beclometasone and breastfeeding</h3>

                <p>It's generally ok to use your beclometasone inhaler as normal while you're breastfeeding.</p>

                <p>However always check with your doctor first. Your baby may need extra monitoring if you use high doses of the inhaler.</p>


<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">Important</h3>
  <p>For safety, tell your doctor if you're trying to get pregnant, are already pregnant or if you're breastfeeding.</p>
</div>



          </section>


<!-- 9 -->

<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="cautions-with-other-medicines">
              9. Cautions with other medicines
            </h2>

            <p>Some medicines and beclometasone interfere with each other. This can increase your chance of side effects, or it may mean changing your beclometasone dose.</p>

            <p>Check with a pharmacist or your doctor if you're taking:</p>

            <ul>
              <li>drugs used to treat HIV such as ritonavir or cobicistat</li>
              <li>non-steroidal anti-inflammatory drugs (<a href="">NSAIDs</a>) such as ibuprofen or aspirin</li>
              <li>other medicines that contain steroids such as eczema creams, other asthma inhalers, tablets, injections, nasal sprays and eye or nose drops</li>
              <li>medicines used to treat alcohol addiction</li>
              <li><a href="">metronidazole</a>, an antibiotic</li>
            </ul>  

            <p>Some inhalers contain alcohol (ethanol) and this can interfere with metronidazole and medicines for alcohol addiction.</p>

            <h3>Mixing beclometasone with herbal remedies or supplements</h3>


            <p>There might be a problem taking some herbal remedies and supplements together with beclometasone. Ask a pharmacist for advice.</p>


<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">Important</h3>
  <p>Tell your doctor or pharmacist if you're taking any other medicines, including herbal remedies, vitamins or supplements.</p>
</div>









          </section>












        <h2 class="o-section__header above nhsuk-u-padding-top-5" id="how-and-when-to-give-it">
        10. Common questions</h2> 

        <div class="nhsuk-expander-group">
          {{ details({
            "classes": "nhsuk-expander",
            "text": "How does beclometasone work?",
            "HTML": "
            <p>
            Beclometasone is a corticosteroid (steroid) medicine.
            </p>
            <p>
            Steroids closely copy the effects of natural hormones produced in your adrenal glands. The adrenal glands are next to your kidneys.
            </p>
            <p>
            Beclometasone is called a preventer inhaler. It works by calming down your immune system. This reduces the swelling in your lungs that makes it difficult to breathe. It also stops symptoms such as wheezing and coughing from developing.
            </p>
            "
          }) }}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "How long does beclometasone take to work?",
            "HTML": "
            <p>
            A beclometasone inhaler does not work straight away.
            </p>
            <p>
            You'll usually start to wheeze less after using beclometasone for 3 to 7 days. You may not need to use your bronchodilator ('reliever' inhaler).
            </p>
            "
          }) }}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "How long will I use my beclometasone inhaler for?",
            "HTML": "
            <p>
            You'll usually use your beclometasone inhaler for a long time. It helps prevent your asthma or COPD from getting worse.
            </p>
            <p>
            It's important to keep using your inhaler even if you feel better.
            </p>
            "
          }) }}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "Is it safe to use for a long time?",
            "HTML": "
            <p>
            If you use your inhaler as recommended by your doctor, nurse or pharmacist you're unlikely to get any lasting side effects.
            </p>
            <p>
            However, for children and teenagers using a steroid inhaler for a long time, their height and weight needs to be monitored carefully.
            </p>
            "
          }) }}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "What will happen if I stop using my beclometasone inhaler?",
            "HTML": "
            <p>
            If you have an inhaler to control your asthma or COPD, your breathing problems may return if you suddenly stop using it.
            </p>
            <p>
            You might feel wheezy or short of breath. Your chest may feel tight and you could start to cough.
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "How does it compare with other inhalers?",
            "HTML": "
            <p>
            Beclometasone inhalers are usually used to prevent symptoms in people with asthma and COPD.
            </p>
            <p>
            There are similar 'preventer' inhalers that contain other steroids such as budesonide, ciclesonide and fluticasone.
            </p>
            <p>
            Preventer inhalers are different from the inhalers used during asthma attacks. These are called bronchodilators or 'reliever' inhalers.
            </p>
            <p>
            A salbutamol inhaler can be used in an asthma attack. Salbutamol works quickly to relax the muscles of the airways leading to your lungs. This makes it easier for you to breathe.
            </p>
            <p>
            If you use a Fostair inhaler, your GP may tell you to use it every day as a preventer and also during an asthma attack.
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "Can I use someone else's beclometasone inhaler?",
            "HTML": "
            <p>
            There are lots of different inhalers containing beclometasone. They work in different ways and some are for adults only.
            </p>
            <p>
            It's important to use your own beclometasone inhaler.
            </p>
            <p>
            Your inhaler may be different to a friend or relative’s. Their inhaler might contain a different dose of beclometasone or could work in a different way.
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "Will it affect my fertility?",
            "HTML": "
            <p>
            There's no firm evidence to suggest that taking beclometasone will reduce fertility in either men or women.
            </p>
            <p>
            However, speak to a pharmacist or your doctor if you are trying to get pregnant.
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "Will it affect my fertility?",
            "HTML": "
            <p>
            Beclometasone doesn't affect any type of <a href=''>contraception</a> including the contraceptive pill and <a href=''>emergency contraception</a>.
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "Can I drink alcohol with it?",
            "HTML": "
            <p>
            Yes, you can drink alcohol while taking beclometasone.
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "Can I smoke if I use a beclometasone inhaler?",
            "HTML": "
            <p>
            Try not to smoke. Smoking irritates the lungs and will make your breathing problem worse.
            </p>
            <p>
            Speak to your doctor, nurse or pharmacist if you're finding it hard to stop smoking. <a href=''>Stop smoking treatments</a> are available on the NHS.
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "Can I drive or ride a bike?",
            "HTML": "
            <p>
            Most people can drive or ride a bike when taking beclometasone. 
            </p>
            <p>
            Very rarely, however, beclometasone can give you blurred vision.
            </p>
            <p>
            If your eyesight is affected in any way, do not drive, cycle or use tools or machinery. Make an appointment to see your doctor or an optician about your eyesight. 
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "Can lifestyle changes help with asthma?",
            "HTML": "
            <p>
            There are several things you can do to help your condition when you're <a href=''>living with asthma</a>. These include:
            </p>
            <ul>
            <li>stopping smoking - not smoking can significantly reduce how severe and frequent your symptoms are</li>
            <li>exercising regularly – exercise is unlikely to trigger your symptoms once you're on appropriate treatment</li>
            <li>eating healthily – most people with asthma can have a normal diet</li>
            <li>getting vaccinated – it's a good idea to have the annual flu jab and the one-off pneumococcal vaccination</li>
            </ul>

            "
          }) }} 


        </div>



        {{ panel({
          "label": "Related conditions",
          "HTML": "<ul>
          
            <li><a href='/conditions/earache/'>Asthma</a></li>
            <li><a href='/conditions/earache/'>Chronic obstructive pulmonary disease (COPD)</a></li>
          
        </ul>"
        }) }}

        {{ panel({
          "label": "Useful resources",
          "HTML": "<ul>
          <li><a href='https://www.nhs.uk/conditions/earache/'>Beclometasone: forum</a></li>
          <li><a href='https://www.nhs.uk/conditions/earache/'>Asthma UK: charity</a></li>
          <li><a href='https://www.nhs.uk/conditions/earache/'>British Lung Foundation: charity</a></li>
        </ul>"
        }) }}






            
    </div>  

    <div class="nhsuk-grid-column-one-quarter">
    


    </div>
  </div>
{% endblock %}
