{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - Beclometasone nasal spray
{% endblock %}

{% block beforeContent %}
    {{ breadcrumb({
      items: [
      ],
      href: "/level-one/level-two/level-three",
      text: "Medicines A - Z"
    }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1>Beclometasone nasal spray
      <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          including Beconase
        </span></h1>

    </div>  

  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
<aside role="complementary" class="medicines-page-contents">
          <p><strong>On this page</strong></p>
          <ol class="nhsuk-body-s">
            
              <li>About beclometasone nasal spray</li>
            
              <li>Key facts</li>
            
              <li>Who can and can't use beclometasone nasal spray</li>
            
              <li>How and when to use it</li>
            
              <li>Side effects</li>
            
              <li>How to cope with side effects</li>

              <li>Pregnancy and breastfeeding</li>
              <li>Cautions with other medicines</li>
              <li>Common questions</li>

            
          </ol>
        </aside>




<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="about-paracetamol-for-children">
              1. About beclometasone nasal spray
            </h2>
            <div class="block-section_text">
              <div class="block-markdown">

                <p>Beclometasone nasal spray is a <a href="">steroid nasal spray</a> for cold-like symptoms caused by <a href="">allergic rhinitis</a>. These can be brought on by hay fever.</p>

                <p>It contains beclometasone dipropionate, a type of medicine known as a <a href="">corticosteroid</a> (or steroid). Corticosteroids are not the same as <a href="">anabolic steroids</a>.</p>

                <p>Beclometasone nasal spray is available on prescription for adults and children.</p>

                <p>Adults can buy it from pharmacies and supermarkets.</p>
                
                <p>Other types of beclometasone are used to treat:</p>
                
                <ul>
                  <li><a href="">asthma</a> and <a href="">chronic obstructive pulmonary disease</a> (COPD) - inhaler</li>
                  <li>eczema and psoriasis - cream or ointment</li>
                  <li><a href="">ulcerative colitis</a> - slow release tablets</li>
                </ul>  



                </div>
            </div>
          </section>



      
<!-- 2 -->
<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="key-facts">
              2. Key facts
            </h2>
            <div class="block-section_text">
              <div class="block-markdown">

                <ul>
                  <li>You need to use beclometasone nasal spray regularly for it to work.</li>
                  <li>It works by reducing swelling and irritation in your nose.</li>
                  <li>The most common side effects are an unpleasant taste or smell, and a dry or sore throat.</li>
                  <li>Do not give this nasal spray to children under the age of 6 years.</li>
                  <li>Brand names include Beconase, Nasobec and Pollenase.</li>
                </ul>





</div>
            </div>
          </section>

<!-- 3 -->
      <section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="who-can-and-cant-take-paracetamol">
              3. Who can and can't use beclometasone nasal spray
            </h2>
            <div class="block-section_text">
              <div class="block-markdown">

                <p>Most adults and children over the age of 6 years can use beclometasone nasal spray.</p>

                <p>Beclometasone isn’t suitable for some people. <strong>To make sure this nasal spray is safe for you, tell your doctor if you:</strong></p>

                <ul>
                  <li>are allergic to beclometasone or any other medicines</li>
                  <li>have had an operation on your nose</li>
                  <li>have an infection in your nose</li>
                  <li>are pregnant or trying to get pregnant</li>
                </ul>  







</div>

            </div>
          </section>




<!-- 4-->






       <section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="dosage-and-how-often-to-give-it">
              4. How and when to use it
            </h2>
            <div class="block-section_text">
              <div class="block-markdown">
                <p>Beclometasone nasal spray needs to be used regularly for it to work.</p>
                
                <p>You'll generally use the spray twice a day, once in the morning and once at night. The usual dose is 1 or 2 sprays into each nostril.</p>

                <p>Do not use more than 4 sprays per nostril in 24 hours.</p>

                <h3>How to use the spray</h3>

                <p>Follow the instructions that come with your nasal spray.</p>

                <p>If you're using a new bottle, it may not work first time. Pump the spray a few times until a fine mist comes out. You'll also need to do this if the bottle hasn't been used for a few days.</p>
                
                <p>Remove the cap and gently shake the bottle.</p>

                <ol>
                <li>Blow your nose gently, then close one nostril with your finger.</li>
                <li>Bend your head forward slightly and carefully put the nozzle into your other nostril.</li>
                <li>Slowly breathe in through your nose and press down on the widest part of the nozzle to squirt the spray once.</li>
                <li>Breathe out through your mouth.</li>
                <li>Follow steps 3 and 4 again to squirt a second spray into the same nostril.</li>
                <li>Remove the nozzle.</li>
                </ol>

                <p>Repeat the process with the other nostril.</p>
                <p>After using your spray, wipe the nozzle with a clean tissue and replace the cap.</p>

                <h3>Will my dose go up or down?</h3>

                <p>Once your symptoms are under control, you'll be able to use your nasal spray less often. For example, you might go from using 2 sprays twice a day, to 1 spray twice a day.</p>

                <p>If your symptoms get worse after reducing your dose, you may want to increase it again.</p>
                
                <p>If you have beclometasone nasal spray on prescription, your doctor will tell you how often to use the nasal spray and when to change your dose.</p>

                <h3>What if I forget to use it?</h3>

                <p>If you forget to take a dose, use it as soon as you remember. Unless it’s almost time for your next dose, in which case skip the missed dose and take your next one as usual.</p>

                <p>Do not take a double dose to make up for a forgotten dose.</p>

                <p>If you forget doses often, it may help to set an alarm to remind you. You could also ask your pharmacist for advice on other ways to help you remember to take your medicine.</p>


                <h3>What if I use too much?</h3>

                <p>Using too much beclometasone nasal spray by accident is unlikely to harm you.</p>
                <p>If you’re worried, talk to your doctor or a pharmacist.</p>








     <!--5 -->     

<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="how-to-give-paracetamol-to-your-child">
              5. Side effects
            </h2>

            <p>Like all medicines, beclometasone can cause side effects although not everyone gets them.</p>

            <h3>Common side effects</h3>

            <p>These common side effects can happen in more than 1 in 100 people.</p>

            <p>Keep taking the medicine but talk to your doctor if these side effects bother you or don't go away:</p>

            <ul>
              <li>sneezing</li>
              <li>an unpleasant taste or smell</li>
              <li>nosebleeds</li>
              <li>a dry or sore nose or throat</li>
            </ul>  

            <h3>Serious side effects</h3>

            <p>Very few people have serious side effects when using beclometasone nasal spray.</p>

            <p>You are more likely to have a serious side effect if you use beclometasone for more than a few months.</p>

            <p>Tell a doctor straight away if you get:</p>

            <ul>
              <li>fever, chills, a very sore throat, ear or sinus pain, a cough, coughing up more mucus (phlegm) or a change in colour of your mucus, pain with passing urine, mouth sores or a wound that will not heal - these can be signs of an infection</li>
              <li>weight gain in the upper back or belly, "moon face" (a puffy, rounded face), very bad headaches and slow wound healing - these can be signs of Cushing's syndrome</li>
              <li>a very upset stomach or you're being sick (vomiting), very bad dizziness or passing out, muscle weakness, very tired, mood changes, loss of appetite and weight loss - these can be signs of adrenal gland problems</li>
              <li>changes in your eye sight, such as blurred vision or a cloudy lens in the eye - these can be signs of increased pressure in your eyes (<a href="">glaucoma</a>) or a cataract</li>
            </ul>


            <h4>Serious allergic reaction</h4>

            <p>It is possible to have a serious allergic reaction (<a href="">anaphylaxis</a>) to beclometasone.</p>

<div class="nhsuk-care-card nhsuk-care-card--immediate">
  <div class="nhsuk-care-card__heading-container">
    <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Immediate action required: </span>Call 999 or go to A&E if:</span></h3>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">

    <ul>
      <li>you get a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
      <li>you're wheezing</li>
      <li>you get tightness in the chest or throat</li>
      <li>you have trouble breathing or talking</li>
      <li>your mouth, face, lips, tongue or throat start swelling</li>
    </ul>
    <p>You could be having a serious allergic reaction and may need immediate treatment in hospital.</p>

  </div>
</div>

            <p>These are not all the side effects of beclometasone. For a full list see the leaflet inside your medicines packet.</p>


<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>You can report any suspected side effect to the <a href="">UK safety scheme</a>.</p>
</div>



            <h3>Stunted growth in children</h3>

            <p>Taking beclometasone at higher doses for a long time can slow down the normal growth of children and teenagers.</p>

            <p>Your child’s doctor will monitor their height and weight carefully for as long as they're taking this medicine. This way, any slowing down of their growth can be spotted quickly and their treatment changed if needed.</p>

            <p>Talk to your doctor if you're worried. They will be able to explain the benefits and risks of giving your child beclometasone.</p>



            


          </section>



<!-- 6 -->

<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="giving-paracetamol-to-babies-from-2-months">
              6. How to cope with side effects
            </h2>

            <p><strong>What to do about:</strong></p>

            <ul>
            <li>sneezing - this should wear off after your first few doses as the beclometasone starts working. If it hasn’t stopped after a week speak to your doctor or a pharmacist who may recommend a different treatment.</li>
            <li>dry or sore throat, or hoarse voice - rinse your mouth out with water or brush your teeth after you use your nasal spray to help prevent this</li>
            <li>unpleasant taste or smell - rinse your mouth with water or have a drink of water</li>
            <li>dry or sore nose, or nosebleeds - stop using your nasal spray for a few days, then start again. Speak to your doctor or a pharmacist if these side effects don't go away.</li>
            </ul>






          </section>


<!-- 7 -->

<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="giving-paracetamol-with-other-painkillers">
              7. Pregnancy and breastfeeding
            </h2>

              <p>There's no firm evidence that beclometasone will harm your unborn baby. However, for safety your doctor will only prescribe beclometasone in pregnancy if the benefits outweigh the risks. They will prescribe the lowest dose that works for you.</p>
              
              <p>If you pregnant, do not buy beclometasone nasal spray at a pharmacy or supermarket without speaking to your doctor or a pharmacist first. They can give you advice about whether it’s safe to use this medicine. </p>

              <p>For more information about how using beclometasone might affect you and your baby during pregnancy, <a href="">read this leaflet on the Best Use of Medicines in Pregnancy (BUMPS) website</a>.</p>

              <h4>Beclometasone and breastfeeding</h4>

              <p>It's generally ok to use beclometasone while breastfeeding.</p>
              <p>However always check with your doctor first. Your baby may need extra monitoring if you use higher doses of the nasal spray.</p>

<div class="nhsuk-care-card nhsuk-care-card--non-urgent">
  <div class="nhsuk-care-card__heading-container">
    <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>Talk to your doctor if you're:</span></h3>
    <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="nhsuk-care-card__content">

    <ul>
      <li>trying to get pregnant</li>
      <li>pregnant</li>
      <li>breastfeeding</li>
    </ul>
    

  </div>
</div>



          </section>


<!-- 8 -->

<section>
            <h2 class="o-section__header above nhsuk-u-padding-top-5" id="side-effects-in-children">
              8. Cautions with other medicines
            </h2>


                <p>Some medicines and beclometasone interfere with each other and this can increase your chance of side effects. It may mean you need to change your dose of beclometasone.</p>

                <p>Check with a pharmacist or your doctor if you're taking:</p>

                <ul>
                  <li>drugs used to treat HIV such as ritonavir or cobicistat</li>
                  <li>other medicines that contain steroids such as eczema creams, asthma inhalers, tablets, injections, eye or nose drops and other nasal sprays</li>
                </ul>  

                <h4>Mixing beclometasone with herbal remedies or supplements</h4>

                <p>There might be a problem taking some herbal remedies and supplements together with beclometasone. Ask a pharmacist for advice.</p>
 


<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">Important</h3>
  <p>Tell your doctor or pharmacist if you're taking any other medicines, including herbal remedies, vitamins or supplements.</p>
</div>



          </section>


<!-- 9 -->


        <h2 class="o-section__header above nhsuk-u-padding-top-5" id="how-and-when-to-give-it">
        9. Common questions</h2> 

        <div class="nhsuk-expander-group">
          {{ details({
            "classes": "nhsuk-expander",
            "text": "How does beclometasone work?",
            "HTML": "
            <p>
            Beclometasone is a corticosteroid (steroid) medicine.
            </p>
            <p>
            Steroids closely copy the effects of natural hormones produced in your adrenal glands. The adrenal glands are next to your kidneys.
            </p>
            <p>
            Beclometasone is called a preventer inhaler. It works by calming down your immune system. This reduces the swelling in your lungs that makes it difficult to breathe. It also stops symptoms such as wheezing and coughing from developing.
            </p>
            "
          }) }}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "How long does it take to work?",
            "HTML": "
            <p>
            You won't notice any immediate improvement in your symptoms when you first start using beclometasone nasal spray. This is because it takes a few days for a steroid spray to take full effect.
            </p>
            <p>
            Tell your doctor if you feel no better after using the spray for 7 days.
            </p>
            <p>
            For some people it can take 2 weeks or more to get the maximum benefits.
            </p>
            <p>
            If you use the spray for hay fever, it's best to start using it at least a couple of weeks before hay fever season starts.
            </p>
            "
          }) }}

          {{ details({
            "classes": "nhsuk-expander",
            "text": "How long will I use it for?",
            "HTML": "
            <p>
            If you buy beclometasone nasal spray from a pharmacy or supermarket, check the leaflet that comes with the medicine. This will tell you how long you can use it for. This is usually between 1 and 3 months.
            </p>
            <p>
            If you are prescribed beclometasone, your doctor may advise you to use it for longer.
            </p>
            "
          }) }}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "Is it safe to use beclometasone for a long time?",
            "HTML": "
            <p>
            Beclometasone nasal spray is unlikely to have any lasting harmful effects if you follow the instructions that come with your medicine, or use it as recommended by your doctor.
            </p>
            <p>
            However, children and teenagers need to have their height and weight monitored carefully if they're using a steroid nasal spray for a long time.
            </p>
            <p>
            Taking beclometasone for a long time can slow down their normal growth.
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "Can I drink alcohol with it?",
            "HTML": "
            <p>
            Yes, you can drink alcohol with beclometasone.
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "Will it affect my fertility?",
            "HTML": "
            <p>
            There is no firm evidence to suggest that taking or using beclometasone will reduce fertility in either men or women.
            </p>
            <p>
            However, speak to a pharmacist or your doctor if you're trying to get pregnant.
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "Will it affect my fertility?",
            "HTML": "
            <p>
            There's no firm evidence to suggest that taking beclometasone will reduce fertility in either men or women.
            </p>
            <p>
            However, speak to a pharmacist or your doctor if you are trying to get pregnant.
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "Will it affect my contraception?",
            "HTML": "
            <p>
            Beclometasone doesn't affect any type of <a href=''>contraception</a> including the contraceptive pill and <a href=''>emergency contraception</a>.
            </p>
            "
          }) }} 

          {{ details({
            "classes": "nhsuk-expander",
            "text": "Can I drive or ride a bike with it?",
            "HTML": "
            <p>
            For most people, taking beclometasone nasal spray will not affect their ability to drive a car or cycle.
            </p>
            <p>
Do not drive or ride a bike if beclometasone gives you blurred vision or affects your eyesight in any other way.
            </p>
            "
          }) }} 

          


        </div>



        {{ panel({
          "label": "Related conditions",
          "HTML": "<ul>
          
            <li><a href='/conditions/earache/'>Allergic rhinitis</a></li>
            <li><a href='/conditions/earache/'>Hay fever</a></li>
          
        </ul>"
        }) }}

        {{ panel({
          "label": "Useful resources",
          "HTML": "<ul>
          <li><a href='https://www.nhs.uk/conditions/earache/'>Beclometasone: forum</a></li>
          <li><a href='https://www.nhs.uk/conditions/earache/'>Allergy UK: charity</a></li>
        
        </ul>"
        }) }}






            
    </div>  

    <div class="nhsuk-grid-column-one-quarter">
    


    </div>
  </div>
{% endblock %}
